<div class="container"> 
	<div class="row">
		<div class="col-md-2 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">                    
                    <h2>Hover me</h2>
                    <p>I will show the footer panel</p>
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Hover me</h2>
                    <p>I will show the footer panel with a Badge</p>
                </div>
                <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
            </div>
        </div>
	</div>
</div>